body {
	background-color: #000 !important;
}
.ui-page {
	-webkit-backface-visibility: hidden;
	background-color: #000000;
	background-image: none;
}
.ui-content {
	overflow: hidden;
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border-style: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
}
#first-page div {
	background-color: transparent;
}
#ani-page, #first-page {
	background: #ec008c; /* Old browsers */
	background: -moz-linear-gradient(top,  #ec008c 1%, #c11672 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ec008c), color-stop(100%,#c11672)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ec008c 1%,#c11672 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ec008c 1%,#c11672 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ec008c 1%,#c11672 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ec008c 1%,#c11672 100%); /* W3C */
	padding: 0;
	border-style: none;
}
#ani-c {
	background: url(../img/cc.png);
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100%;
}
#ani-logo {
	display: none;
	text-align: center;
	position: absolute;
}
