body {
	background-color: #000 !important;
}
div[data-role="header"] {
	background-image: none;
	background-color: #000;
	border: none;
}
div[data-role="footer"] {
	background-image: none;
	background-color: #000;
	border: none;
}
div[data-role="header"] img {
	position: absolute;
	top: 0;
	left: 0;
}
.ui-page {
	-webkit-backface-visibility: hidden;
	background-color: #000000;
	background-image: none;
}
.ui-content {
	background-color: #000000;
	overflow: hidden;
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#ani-page {
	background-color: #FF8604;
	background: url(../img/pembezemin.png) no-repeat center center fixed !important;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding: 0;
}
#ani-page div.ui-content {
	background-color: transparent;
	padding: 0;
	overflow: hidden;
}
#ani-c {
	background: url(../img/cc.png);
	background-size: cover;
	position: relative;
}
#ani-logo {
	display: none;
	text-align: center;
	position: relative;
}
/* ------------------------- */
#home_page {
	background-color: #000;
	overflow: hidden;
}
.home-content {
	padding: 0;
	margin: 0;
	background-color: #000;
	overflow: hidden;
}
#home_page.ui-page {
	background-color: #000;
}
#left-menu {
	position: absolute;
	left: 0;
	top: 0;
	width: 147px;
	z-index: 99;
}
#left-menu div {
	margin: 0;
	padding: 0;
}
#left-menu div img {
	display: block;
}
#hp-header {
	background-image: none;
	background-color: #000;
	border: none;
	overflow: hidden;
}
#home-header-pic {
	right: 0;
	left: auto;
}
#hp-pic {
	position: absolute;
	right: 0;
}
#btnTest {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
#page-sosyal div[data-role="content"] {
	padding: 15px;
	vertical-align: middle;
}
#page-harita  div[data-role="content"] {
	padding: 0;
	overflow: hidden;
}
#map-current {
	height: 100%;
}
#page-harita .ui-grid-a img {
	display: block;
}

div[data-role="footer"] img {
	display: block;
}
#current-location-msg {
	height: 40px;
	overflow: hidden;
	background-color: #4390EE;
}
#shop-list {
	height: 100%;
	width: 100%;
	background-color: rgba(236, 0, 140, .9);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
	overflow: scroll;
	color: #FFFFFF;
}
#shop-list .info {
	position: absolute;
	width: 100%;
	text-align: center;
	padding: 5px;
	z-index: 198;
	border: 1px solid rgba(0,0,0, .8);
	display: block;
	background-color: rgba(0,0,0,.7);
}
#shop-list .liste {
	padding: 8px;
}
#shop-list .liste div {
	text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}
#shop-list .liste .item {
	margin-bottom: 8px;
	border-bottom: 1px solid rgba(255,255,255, .5);
}
#shop-list .liste .distance {
	text-align: right;
}
#location-info {
	position: absolute;
	width: 100%;
	margin-top: 20px;
	text-align: center;
	padding: 5px;
	z-index: 198;
	border: 1px solid rgba(236, 0, 140, 3);
	display: block;
	background-color: rgba(236, 0, 140, 3);
	color: #FFFFFF;
}
label {
	color: #FFFFFF;
}

.ui-corner-all, .ui-checkbox .ui-btn, .ui-radio .ui-btn {
	border-radius: 0 !important;
}
.theiframewrap {
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
	overflow: hidden;
}
.theiframeid {
	height: 30000px;
	width: 100%;
	margin: 0px;
	-ms-zoom: 0.30;
	-moz-transform: scale(0.30);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.30);
	-o-transform-origin: 0 0;
	/*    -webkit-transform: scale(0.30);
	 -webkit-transform-origin: 0 0;
	 */
}
#page-uygulama div[data-role="content"] .ui-grid-a {
	margin-top: 2em;
}
#page-uygulama div[data-role="content"] .ui-block-b {
	color: #fff;
	padding-top: 2em;
	font-size: larger;
}
#page-form div[data-role="content"] {
	overflow: scroll;
}
