#current-location-msg {
	text-align: center;
	color: #999;
	font-size: smaller;
}
#map-current {
	height: 100px;
}
#map-page, #map-canvas {
	width: 100%;
	height: 100%;
	padding: 0;
}

.ui-header .ui-title, .ui-footer .ui-title {
	margin-left: 0;
	margin-right: 0;
}

#shop-content {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}
#shop-container {
	border-top: 1px solid #996633;
	padding: 0.5em;
}
#shop-content .ui-li-desc {
	white-space: normal;
}
#shop-list .ui-li-has-count .ui-li-count {
	top: 80%;
}​

#shop-content.ui-content {
	background-image: linear-gradient(rgb(236, 0, 140), rgb(193, 22, 114));
}
.shop-title {
	font-size: larger;
}
.shop-address {
	font-size: smaller;
}
/*---------------*/
#home_page, #social-page {
	background: url(../img/back1.jpg) no-repeat center center fixed !important;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
#home_page .ui-content {
	padding: 0;
}
.my-header {
	background-image: url(../img/cosmetica_logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	background-color: rgba(236, 0, 140, .9);
	border-style: none;
	border-bottom: 1px solid rgb(193, 22, 115);
	height: 53px;
}
.brick1 h4, .brick2 h4, .brick3 h4 {
	text-shadow: none;
	clear: both;
	display: block;
	padding: 5px 10px 5px 10px;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 11px;
	color: #fff;
	opacity: 0.7;
	margin: 0px;
}
.brick1, .brick2, .brick3 {
	width: 100%;
	border: 8px solid rgba(255, 255, 255, .0);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.brick1 .footer, .brick2 .footer, .brick3 .footer {
	background-color: rgba(0, 0, 0, .1)
}
.brick1 .area, .brick2 .area, .brick3 .area {
	background-repeat: no-repeat;
	background-position: center;
}
/* ---------- */
.brick1 .area {
	height: 162px;
}
.brick1.box1 {
	background-color: rgba(255, 196, 13, .9);
	border-right: 0px;
}
.brick1.box1 .area {
	background-image: url(../img/heart_64.png);
}
.brick1.box2 {
	background-color: rgba(0, 163, 0, .9);
	border-left: 0px;
}
.brick1.box2 .area {
	background-image: url(../img/wallet_64.png);
}
/* ---------- */
.brick2 {
	border-top: 0px;
}
.brick2 .area {
	height: 132px;
}
.brick2.box1 {
	background-color: rgba(30, 113, 69, .9);
	border-right: 0px;
}
.brick2.box1 .area {
	background-image: url(../img/star_64.png);
}
.brick2.box2 {
	background-color: rgba(159, 0, 167, .9);
	border-left: 0px;
	border-right: 0px;
}
.brick2.box2 .area {
	background-image: url(../img/alarm_on_64.png);
}
.brick2.box3 {
	background-color: rgba(227, 162, 26, .9);
	border-left: 0px;
}
.brick2.box3 .area {
	background-image: url(../img/moving_64.png);
}
/* ---------- */
.brick3 {
	border-top: 0px;
}
.brick3 .area {
	height: 102px;
}
.brick3.box1 {
	background-color: rgba(235, 60, 0, .9);
	border-right: 0px;
}
.brick3.box1 .area {
	background-image: url(../img/globe_64.png);
}
.brick3.box2 {
	background-color: rgba(153, 180, 51, .9);
	border-left: 0px;
}
.brick3.box2 .area {
	background-image: url(../img/pencil_64.png);
}
/* ---------- */
.social {
	height: 150px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(0, 0, 0, .3);
	border: solid 8px rgba(0, 0, 0, .1);
	margin-bottom: 8px;
}
.social.fb {
	background-image: url(../img/social_fb.png);
}
.social.tw {
	background-image: url(../img/social_tw.png);
}
.social.gp {
	background-image: url(../img/social_gp.png);
}
/* ---------- */
#ani-page {
	background: url(../img/pembezemin.png) no-repeat center center fixed !important;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding: 0;
}

#ani-page div.ui-content {
	padding: 0;
	overflow: hidden;
}
#ani-c {
	background: url(../img/cc.png);
	background-size: cover;
	height:480px;
	position: relative;
	top: -480px;
}
#ani-logo {
	display: none;
	text-align: center;
	position: relative;
	top: -250px;
}
/* ---------- */
